# Build / install
build/
dist/
*.egg-info/
*.egg
.eggs/

# Virtual envs
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Local
*.local
